@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* Global Colors */
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
:root {
    --primary-color: #413C58; 
    --primary-color-light: #645b86;
    --secondary-color: #F98BCF; 
    --disabled-color: #DDDBE6; 
    --background-color: #F6EFEE;
    --text-color: #5b5b5b;
    --text-color-light: white;
    --shadow-color: #797a7a;
    --black-color: #000000;
    --white-color: #FFFFFF;
}





/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* Global Reset */
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
header, footer, html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, body
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure,
figcaption, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    overflow-x: hidden;
}





/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* Utility Classes */
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
.hidden {
    display: none;
}

.center {
    text-align: center;
}

.aln-center {
    justify-content: center;
}





/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* General Body Styles */
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
body:not(.homepage) main {
    padding-top: 8.5em; /* Adjust based on the height of the toolbar */
    position: relative;
}

h1, h2, footer {
    overflow: hidden;
}

body {
    display: flex;
    min-height: 100vh;;
    line-height: 1.85em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    background: var(--background-color);
    color: var(--text-color);
}

html, body {
    display: flex;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
    overflow-y: auto; /* Allow vertical scroll */
    margin: 0;
    padding: 0;
    flex-direction: column; 
}

main {
    padding: 5em 1em; 
    margin: 0 auto; 
    max-width: 1200px; 
    box-sizing: border-box;
    flex-grow: 1; 
    position: relative;
}

.layout {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%;
    height: 100%;
}

.widget-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.widget {
    flex:1;
    min-width: 300px;
    max-width: 48%;
    box-sizing: border-box;
    overflow: hidden;
}

ul.icons {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

ul.icons li {
    display: inline-block;
}

ul.icons li a {
    color: var(--text-color-light);
    font-size: 1.5em;
    transition: color 0.3s ease;
}

ul.icons li a:hover {
    color: var(--secondary-color);
}

@media screen and (max-width: 960px) {
    .container {
        width: 100%;
    }
}

#header {
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 10px;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    animation: none !important;
    transition: none !important;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 1400px;
    overflow: hidden;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    min-width: 300px; /* Minimum width for cards */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px; 
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap; /* Optional: Ensure cards wrap on smaller screens */
}

.wrapper {
    background: var(--background-color);
    margin: 0 0 2em 0;
    padding: 6em 0 6em 0;
}

.wrapper.style2 {
    padding-top: 0;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    color: var(--text-color-light);
    background-color: var(--primary-color-light);
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    border: none;
    margin: 0;
    width: auto;
    height: auto;
}

.button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
    color: var(--text-color-light);
    overflow: hidden;
}

.button:active {
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    overflow: hidden;
}

.button.circled {
    border-radius: 50%;
    padding: 15px;
    overflow: hidden;
    width: auto;
    height: auto;
    margin: 0;
    box-sizing: border-box;
}





/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* Typography */
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.25em;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    color: var(--text-color);
    margin-bottom: 10px;
    text-align: center;
}

p {
    line-height: 1.85em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: var(--text-color);
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: solid 1px var(--shadow-color);
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

a:hover {
    color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
}

blockquote {
    border-left: solid 0.5em var(--primary-color-light);
    padding: 1em 0 1em 2em;
    font-style: italic;
}

ul {
    list-style: disc;
    padding-left: 1em;
}





/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* Homepage Styling */
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
body.homepage #header {
    height: 50vh; /* Set the height to 50% of the viewport height */
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    color: var(--text-color-light);
    background: var(--primary-color);
    margin-bottom: 80;
}

body.homepage #header h1 {
    color: var(--text-color-light);
    font-size: 4em;
    margin-bottom: 0.5em;
}

body.homepage #header hr {
    top: 1.5em;
    margin-bottom: 3em;
    border-bottom-color: var(--primary-color);
    box-shadow: inset 0 1px 0 0 var(--shadow-color);
}

body.homepage #header footer {
    margin: 1em 0 0 0;
}

body.homepage.is-preload #header:after {
    opacity: 1;
}

#header .inner {
    position: relative;
    z-index: 1;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

#header:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}




/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* Main Header & Footer Styling */
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
body:not(.homepage) #header {
    background-color: var(--primary-color);
    color: var(--text-color-light); 
    padding: 0.5em 1em; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 3.5em; 
    z-index: 1000; /* Ensures it stays above other elements */
    box-shadow: 0 2px 5px var(--shadow-color); 
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    gap: 1em; 
}

body:not(.homepage) #header .toolbar {
    display: flex;
    gap: 1em; 
}

body:not(.homepage) #header .icon-placeholder {
    font-size: 1.5em; /* Icon size */
    color: var(--text-color-light); 
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em; 
    height: 2em; 
    border-radius: 50%; /* Circular buttons */
    background-color: var(--primary-color-light);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

body:not(.homepage) #header .icon-placeholder:hover {
    background-color: var(--secondary-color); 
    transform: scale(1.01); /* Slight zoom on hover */
}

#header .logo {
    font-size: 1.2em; 
    font-weight: bold;
    margin: 0;
}

#header .logo a {
    color: var(--text-color-light);
    text-decoration: none;
}

#header .icon-placeholder {
    font-size: 1.5em; 
    color: #fff;
    text-decoration: none;
}

#header .icon-placeholder:hover {
    color: var(--secondary-color); /* Hover effect for the icon */
}

#footer {
    position: relative;
    width: 100vw;
    overflow: hidden;
    padding: 2em 1em; 
    margin-top: 3em; 
    background-color: var(--primary-color);
    color: var(--text-color-light);
    text-align: center;
}

#footer .footer-container {
    margin: 0 auto;
    max-width: 100%;
    width: 1400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

#footer h3 {
    color: var(--text-color-light);
    font-size: 1.5em;
    margin-bottom: 1em;
}

#footer p {
    color: var(--text-color-light);
    font-size: 1em;
    margin-bottom: 2em;
}

#footer ul.icons {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#footer ul.icons li {
    display: inline-block;
}

#footer ul.icons li a {
    color: var(--text-color-light);
    font-size: 1.5em;
    transition: color 0.3s ease;
}

#footer ul.icons li a:hover {
    color: var(--secondary-color);
}

#footer .copyright {
    margin-top: 2em;
    font-size: 0.8em;
    color: var(--shadow-color);
}

section.contact {
    margin-bottom: 2em;
}

section.contact h3 {
    font-size: 1.5em;
    color: var(--text-color-light);
    margin-bottom: 0.5em;
}

section.contact p {
    font-size: 1em;
    color: var(--text-color-light);
    margin-bottom: 1.5em;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    overflow: hidden;
}






/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* Dropdown Menu Styling */
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
.user-settings {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0.5em;
    z-index: 1000;
    overflow: hidden;
}

#settings-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: var(--primary-color-light);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#settings-button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1);
}

#settings-dropdown {
    display: none;
    position: absolute;
    top: 3.5em; /* Adjust based on toolbar height */
    right: 0;
    background-color: var(--primary-color-light);
    box-shadow: 0 2px 5px var(--shadow-color);
    z-index: 1000;
    overflow: hidden;
    border-radius: 5px;
}

#settings-dropdown a {
    display: block;
    padding: 10px 20px;
    color: var(--text-color-light);
    text-decoration: none;
    font-size: 0.9em;
}

#settings-dropdown a:hover {
    background-color: var(--secondary-color);
    color: var(--text-color-light);
}

.user-settings:hover .dropdown-menu {
    display: block;
}





/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* Mood Selection Styling */
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
#categoryContainer { /* Layout for Mood Selection */
    display: flex;
    overflow: hidden;
    gap: 20px; 
    justify-content: space-between; 
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
}

.column {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    box-sizing: border-box;
}

.column.middle {
    flex: 2; 
}

.color-group {
    background-color: transparent;
    border: none;
    padding: 0;
}

.category h2 {
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: center;
    color: var(--text-color-light);
}

.button-group { /* Button group within a category */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    width: 100%; 
    overflow: hidden; /* Hide overflow */
}

.filter-button { /* Button styling for mood filters */
    flex: 1 1 calc(33.333% - 10px); /* Responsive width */
    padding: 10px 20px;
    color: var(--text-color-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary-color-light);
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    box-sizing: border-box; 
}

.filter-button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.1); 
}

.filter-button.selected {
    border: 2px solid var(--secondary-color);
}

.next-button { /* next button for mood-selection */
  position: fixed;
  bottom: 20px;
  left: 50%;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--text-color-light);
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.next-button:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}

.next-button:hover:not(:disabled) {
  background-color: var(--secondary-color);
  transform: scale(1.05); /* Slight zoom on hover */
}

.clear-button { 
  position: fixed;
  bottom: 20px;
  left: 40%;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--text-color-light);
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.clear-button:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed; 
}

.clear-button:hover:not(:disabled) {
  background-color: var(--secondary-color);
  transform: scale(1.05); /* Slight zoom on hover */
}

.row { /* Grid Layout */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
}

.row > * {
    box-sizing: border-box;
}

.row.aln-center {
    justify-content: center;
}

.row.aln-right {
    justify-content: flex-end;
}

.row.aln-top {
    align-items: flex-start;
}

.row.aln-middle {
    align-items: center;
}

.row.aln-bottom {
    align-items: flex-end;
}

.row > .col-12 {
    width: 100%;
}

.row > .col-4 {
    width: 33.33333%;
}

.row > .col-12-mobile {
    width: 100%;
}









/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* Playlist Length Selection Styling */
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
#playlistLengthPrompt {
    position: relative;
    text-align: center;
    background-color: var(--background-color);
    border: 1px solid var(--shadow-color);
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
}

.prompt-message {
    font-size: 1.2em;
    color: var(--text-color-light);
    margin-bottom: 10px;
}

#playlistLengthPrompt h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--text-color-light);
}

#playlistLengthSlider {
    width: 80%;
    margin: 15px 0;
}

#playlistLengthValue {
    font-size: 1.2em;
    color: var(--secondary-color);
}

.slide-out-left {
    animation: slide-out-left 0.5s forwards;
}

.slide-in-right {
    animation: slide-in-right 0.5s forwards;
}

@keyframes slide-out-left {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.back-button {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.back-button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05); 
}

#playlistLengthPrompt {
  position: relative;
  width: 100%;
  background-color: var(--primary-color-light);
  z-index: 10;
  padding: 20px;
  box-shadow: 0 2px 5px var(--shadow-color);
  color: var(--text-color-light);
}

.go-button {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.go-button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05); /* Slight zoom on hover */
}







/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* Playback Widget Styling */
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
.playback-widget {
    background-color: var(--black-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-color);
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    max-width: 100%;
    box-sizing: border-box;
}

.album-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.album-cover {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: var(--shadow-color);
}

.song-details {
    color: var(--text-color-light);
    text-align: center;
}

.song-name {
    margin: 0;
    font-weight: bold;
}

.artist-name {
    margin: 0;
    font-size: 0.9em;
    color: var(--text-color-light);
}

.playback-controls {
    display: flex;
    gap: 20px;
    overflow: hidden;
}