<html>
	<head>
		<title>Spotify Playlist Generator</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}" />
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="{{ url_for('home') }}" id="logo">Spotify Playlist Generator</a></h1>
								<hr />
								<p>Made by beany</p>
							</header>
							<footer>
                <a href="{{ url_for('spotify_connect') }}" class="button circled">Start</a>
							</footer>
						</div>

					
				</div>

	
			
			<!-- Main -->
				<div class="wrapper style2">

					<article id="main" class="container special">
						<header>
							<h2><a href="#">Spotify Playlist Generator</a></h2>
							<p>
								This is a playlist Generator.
							</p>
						</header>
						<p>
							It will generate a playlist based on your mood.
              Or it will generate a playlist based off favorite songs.
              Or it will make a monthly top 50 playlist.
						</p>
						<footer>
							<a href="#" class="button">Continue Reading</a>
						</footer>
					</article>

				</div>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						
						<hr />
						<div class="row">
							<div class="col-12">

								<!-- Contact -->
									<section class="contact">
										<header>
											<h3>what?</h3>
										</header>
										<p>A little more here.</p>
										<ul class="icons">
											<li><a href="https://twitter.com" class="fab fa-twitter" target="_blank"></a></li>
											<li><a href="https://facebook.com" class="fab fa-facebook-f" target="_blank"></a></li>
											<li><a href="https://instagram.com" class="fab fa-instagram" target="_blank"></a></li>
                      
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Untitled. All rights reserved.</li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>

		</div>

		<!-- Scripts -->
      <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/jquery.dropotron.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>