<html>
	<head>
		<title>Spotify Playlist Generator</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}" />
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="{{ url_for('home') }}" id="logo">Spotify Playlist Generator</a></h1>
								<hr />
								<p>Made by beany</p>
							</header>
							<footer>
                <a href="{{ url_for('spotify_connect') }}" class="button circled">Start</a>
							</footer>
						</div>

					
				</div>

	
			
			<!-- Main -->
				<div class="wrapper style2">

					<article id="main" class="container special">
						<header>
							<h2><a href="#">Sed massa imperdiet magnis</a></h2>
							<p>
								Sociis aenean eu aenean mollis mollis facilisis primis ornare penatibus aenean. Cursus ac enim
								pulvinar curabitur morbi convallis. Lectus malesuada sed fermentum dolore amet.
							</p>
						</header>
						<p>
							Commodo id natoque malesuada sollicitudin elit suscipit. Curae suspendisse mauris posuere accumsan massa
							posuere lacus convallis tellus interdum. Amet nullam fringilla nibh nulla convallis ut venenatis purus
							sit arcu sociis. Nunc fermentum adipiscing tempor cursus nascetur adipiscing adipiscing. Primis aliquam
							mus lacinia lobortis phasellus suscipit. Fermentum lobortis non tristique ante proin sociis accumsan
							lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum
							consequat integer interdum integer purus sapien. Nibh eleifend nulla nascetur pharetra commodo mi augue
							interdum tellus. Ornare cursus augue feugiat sodales velit lorem. Semper elementum ullamcorper lacinia
							natoque aenean scelerisque.
						</p>
						<footer>
							<a href="#" class="button">Continue Reading</a>
						</footer>
					</article>

				</div>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						
						<hr />
						<div class="row">
							<div class="col-12">

								<!-- Contact -->
									<section class="contact">
										<header>
											<h3>Nisl turpis nascetur interdum?</h3>
										</header>
										<p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor aliquet.</p>
										<ul class="icons">
											<li><a href="https://twitter.com" class="fab fa-twitter" target="_blank"></a></li>
											<li><a href="https://facebook.com" class="fab fa-facebook-f" target="_blank"></a></li>
											<li><a href="https://instagram.com" class="fab fa-instagram" target="_blank"></a></li>
                      
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Untitled. All rights reserved.</li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>

		</div>

		<!-- Scripts -->
      <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/jquery.dropotron.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
      <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>