{% extends "base.html" %}

{% block title %}Monthly Top 50{% endblock %}

{% block content %}

<div class="container content-container">
    <h1>Build monthly top 50.</h1>
    <p>Generation starts here</p>

    <!-- Card List of Monthly top 50 -->
    {% if tracks %}
    <div class="container track-list-container">
        <div class="row">
            {% for track in tracks %}
            <div class="col-12 mb-3">
                <div class="card text-white bg-info">
                    <h5 class="card-header">
                        {{ track.name }}
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <strong>Artist: {{ track.artist }}</strong>
                        </p>
                    </div>
                    <div class="card-footer">
                        Album: {{ track.album }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <p>No top tracks found.</p>
    {% endif %}
</div>

{% endblock %}