{% extends "base.html" %}

{% block title %}Monthly Top 50{% endblock %}

{% block content %}

<div class="container">
    <h1>Build monthly top 50.</h1>
    <p>Generation starts here</p>

    <!-- Card List -->
    <div class="card text-white bg-info mb-3">
        <h5 class="card-header">
            Card Title 1
        </h5>
        <div class="card-body">
            <p class="card-text">
                Card content for item 1.
            </p>
        </div>
        <div class="card-footer">
            Card footer 1
        </div>
    </div>

    <div class="card text-white bg-info mb-3">
        <h5 class="card-header">
            Card Title 2
        </h5>
        <div class="card-body">
            <p class="card-text">
                Card content for item 2.
            </p>
        </div>
        <div class="card-footer">
            Card footer 2
        </div>
    </div>

    <div class="card text-white bg-info mb-3">
        <h5 class="card-header">
            Card Title 3
        </h5>
        <div class="card-body">
            <p class="card-text">
                Card content for item 3.
            </p>
        </div>
        <div class="card-footer">
            Card footer 3
        </div>
    </div>
</div>

{% endblock %}