{% extends "base.html" %}

{% block title %}Monthly Top 50{% endblock %}

{% block content %}

<div class="container">
    <h1>Build monthly top 50.</h1>
    <p>Generation starts here</p>

    <!-- Card List -->
    {% for i in range(1, 51) %}
    <div class="card text-white bg-info mb-3">
        <h5 class="card-header">
            Card Title {{ i }}
        </h5>
        <div class="card-body">
            <p class="card-text">
                Card content for item {{ i }}.
            </p>
        </div>
        <div class="card-footer">
            Card footer {{ i }}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}